<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://alfabra.com/assets/img/produtos/acionamentos/acionamento-hidraulico.jpg');">
  <div class="container">
    <h1>Do it <strong>yourself</strong> <strong></strong>!</h1>
    <p>With our help, you can fix anything</p>
    <a class="btn btn-flat" href="/page">Procurar</a>
  </div>
</div>



<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
